.header{

    display: flex;
    height: 70px;
    background-color: rgb(204, 74, 81);
    justify-content: flex-start;
    color: white;
    align-items: center;
    box-shadow: 1px 1px 8px gray;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1000;
    
}


img{

    max-height: 70px;
}

.header a{

    display: flex;
    align-items: center;
    text-decoration: none;
}

h2{
    font-size: 28px;
    font-weight: lighter;
    margin-left: 60px;
    text-align: center;
}

.header .title-group {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.home{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}