<form class="form red">

    <mat-form-field>
        <mat-label>Buscar Produto</mat-label>
        <input matInput placeholder="buscar produto..." (input)="buscar($event)" />
    </mat-form-field>
    <span>
        <a>
            <i class="material-icons">search</i>
        </a>
    </span>


</form>
<ul>
    <li *ngFor="let produto of produtos">
        <div class="card">


            <img [src]="produto.image" alt="">


            <div class="card-body">

                <h2 class="card-title">{{produto.name}}</h2>
                <h5 class="card-subtitle">{{produto.details}}</h5>

            </div>

            <div class="carrinho-actions">

                <p>Remover</p>
                <p>Adicionar ao carrinho</p>

            </div>




            <div class="price">
                <span>
                    <a>
                        R$ {{produto.price}}
                        <i class="material-icons v-middle ">sell</i>
                    </a>

                </span>
            </div>
        </div>

    </li>

</ul>