.container{

    display: flex;
}

.sidenav{

    background-color: #222;
    width: 230px;
    box-shadow: 1px 1px 8px gray;

    

}

.sidenav i{

    padding-right: 10px;
}

a{

    transition: 0.3s;
}

a:hover{

    background-color: rgb(219, 139, 143);
    color: white;
    font-weight: 500;
}

.content{

    padding: 16px;
    background-color: white;
    width: 80%;
    box-shadow: 1px 1px 8px gray;

}

