/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 130vh;}


.red{

    color:  rgb(204, 74, 81);
}



.v-middle{

    vertical-align: middle;
}

.v-bottom{

    vertical-align: bottom;
}

.row{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.col{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}